<h1>用户</h1>

<table>
  <tr>
    <td>序号</td>
    <td>用户名</td>
    <td>年龄</td>
    <td>电话</td>
    <td>状态</td>
    <td>银行卡数量</td>
  </tr>
  <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to "#{user.name}",user %></td>
      <td><%= user.age %></td>
      <td><%= user.phone %></td>
      <td><%= User::STATUS[user.status] %></td>
      <td><%= user.bank_cards.count %></td>
      <td><%= link_to '查看', user %> | </td>
      <td><%= link_to '修改', edit_user_path(user) %> | </td>
      <td><%= link_to '删除', user, method: :delete %> | </td>
    </tr>
  <% end %>
  <tr>
    <td><%= link_to '增加用户', new_user_path %></td>
    <td><%= link_to '银行卡主页', bank_cards_path %></td>
  </tr>
</table>
