<h2>新增用户</h2>

<%= form_for @user do |f| %>
  用户姓名：<%= f.text_field :name %><br>
  用户年龄：<%= f.text_field :age %><br>
  用户电话：<%= f.text_field :phone %><br>
  用户状态：<%= f.select :status, User::STATUS.invert %><br>
  <%= f.submit "新增" %>
<% end %>
